.emails-input {
  background: #ffffff;
  border: 1px solid #c3c2cf;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 7px;
}

input {
  border: none;
  outline: none;
}

.list-emails {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.tag {
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  color: #050038;
  margin-right: 8px;
  padding: 0 10px;
}

.error {
  border-bottom: 1px dashed #d92929;
  margin-right: 8px;
}
